/* =======================
    GOOGLE FONTS
======================= */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* =======================
    MATERIAL SYMBOLS
======================= */
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base da aplicação */
html, body, #root {
    width: 100%;
    height: 100%;
}

/* Background geral */
body {
    background-color: #050505;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;

}

/* Container principal da SPA */
#root {
    display: flex;
    flex-direction: column;
}

/* Garantir que páginas apareçam */
main {
    flex: 1;
    display: flex;
}

/* Header sempre visível */
header,
header * {
    position: relative;
    z-index: 9999;
}

/* Botão loading */
button.loading {
    opacity: 0.6;
    cursor: not-allowed;
    position: relative;
}

button.loading::after {
    content: "";
    width: 10px;
    height: 10px;
    border: 3px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin .8s linear infinite;
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.app-content {
    padding-top: 72px; /* mesma altura do header */
    min-height: 100vh;
}
