/* =========================
   TOKEN VIEW
========================= */

#token {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* =========================
   CARD
========================= */

#token .token-wrapper {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 12px;
    padding: 35px;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

/* =========================
   TÍTULO
========================= */

#token .title {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    font-weight: 700;
}

/* =========================
   LABEL
========================= */

#token .label {
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

/* =========================
   INPUT
========================= */

#token .input {
    width: 40%;
    padding: 10px 14px;
    font-size: 1rem;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 8px;
    outline: none;

    transition: border-color 180ms ease,
                box-shadow 180ms ease,
                background-color 180ms ease;
}

#token .input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

#token .input:focus,
#token .input:focus-visible {
    border-color: rgba(255,255,255,1);
    box-shadow: 0 0 0 5px rgba(255,255,255,0.1);
}

/* =========================
   BOTÕES
========================= */

#token .token-buttons {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    margin-top: 10px;
}

/* Botão base */
#token .button {
    flex: 1;
    padding: 12px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid rgba(255,255,255,0.10);
}

/* Confirmar Token */
#token .btn-confirmar {
    background: white;
    color: black;
}

#token .btn-confirmar:hover {
    background: rgba(255,255,255,0.85);
}

/* Voltar Login */
#token .btn-cancelar {
    background: rgba(255,255,255,0.10);
    color: white;
}

#token .btn-cancelar:hover {
    background: rgba(255,255,255,0.20);
}

/* =========================
   MENSAGENS
========================= */

#token .msg-token {
    margin-top: 15px;
    font-size: 0.95rem;
    color: #e53935;
    text-align: center;
}

#token .msg-token.sucesso {
    color: #4caf50;
}
